<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>

        function getPageID() {
            return "$pageId";
        }


        function getCommands() {
            return  $commandJs;
        }

    </script>

    <script src="jquery-3.4.1.js"></script>
    <script src="app.js"></script>
</head>
<body>
    $bodyHtml
</body>
<script type="text/javascript">


    $(document).ready(function () {
        console.log("Page id je: " + getPageID());
        runCommands(getCommands());
    });


    /**
     *
     * String elementId;
     EventType eventType;
     String listenerId;
     String html;
     *  @param {Array.<{elementId: String, eventType: String, listenerId: String, html: String}>}  commands
     */
    function runCommands(commands) {
        commands.forEach(command => {
            if (command.eventType === "CLICK") {
                $("#" + command.elementId).on('click', function (event) {
                    console.log("Event je ", event);
                    sendToServer({'event': 'event neki'}, getPageID(), command.elementId, command.listenerId);
                });
                return;
            }

            if (command.eventType === "TAG_ADD") {
                $("#" + command.elementId).append(command.html);
                return;
            }
        });


    }

    function sendToServer(data, pageId, elementId, listenerId) {
        $.ajax({
            type: 'post',
            url: '/ajax',
            data: data,
            headers: {
                "pageId": pageId,
                "elementId": elementId,
                "listenerId": listenerId
            },
            error: function (data) {
                console.debug(data);
            },
            success: function (response) {
                const commands = JSON.parse(response);
                console.log("Commands ", commands);
                runCommands(commands);
            }
        });
    }


</script>

</html>
